Categorized/Specific Use/Automate Hotel Review Collection & Analysis via n8n, Apify & NOcoDB.json
{
  "name": "Hotel review management with Apify and NOcoDB",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "6e2b357a-0e7f-400d-a56f-fd152aeed724",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -780,
        -160
      ],
      "id": "7c165852-b104-4e6f-890a-3f105590c449",
      "name": "Webhook",
      "webhookId": "6e2b357a-0e7f-400d-a56f-fd152aeed724"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "0e3fd2ae-41df-4144-bc60-52a505a9bc62",
              "name": "API KEY",
              "value": "={{ $json.body.data.rows[0]['Apify API Key'] }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -500,
        -160
      ],
      "id": "77718a01-1bb8-4d3d-9c17-c956ebff27aa",
      "name": "Apify API Key"
    },
    {
      "parameters": {
        "content": "Visit Apify to get your API Key:\nhttps://www.apify.com?fpr=12vqj",
        "height": 260,
        "width": 320
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -620,
        -240
      ],
      "typeVersion": 1,
      "id": "e099762b-c54c-4274-b738-ab702473c162",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://api.apify.com/v2/acts/voyager~booking-reviews-scraper/run-sync-get-dataset-items?token={{ $('Apify API Key').item.json['API KEY'] }}",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n    \"maxReviewsPerHotel\": 24,\n    \"reviewScores\": [\n        \"ALL\"\n    ],\n    \"sortReviewsBy\": \"f_recent_desc\",\n    \"startUrls\": [\n        {\n            \"url\": \"{{ $('Booking.com link of the hotel').item.json.booking_dot_com_Link }}\",\n            \"method\": \"GET\"\n        }\n    ]\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        200,
        -440
      ],
      "id": "f419734a-5bc8-481b-a3c7-90858916d789",
      "name": "bookings.com review scraper"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        400,
        -440
      ],
      "id": "6578d569-9201-40e2-889c-2b87eb1be5e2",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "5eca5da5-8cf0-44e0-816f-9ced80ceb2e4",
              "name": "booking_dot_com_Link",
              "value": "={{ $('Webhook').item.json.body.data.rows[0]['Booking.com Hotel Link'].trim() }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -100,
        -440
      ],
      "id": "ff207e4f-9637-427c-ae15-310e337f942f",
      "name": "Booking.com link of the hotel"
    },
    {
      "parameters": {
        "modelName": "models/gemini-2.0-flash-exp",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        1120,
        -620
      ],
      "id": "11b5a675-be5d-44be-9998-91c8a6d57b4c",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "0D6vVVmDuJzKL9zA",
          "name": "Google Gemini(PaLM) Api account art design"
        }
      }
    },
    {
      "parameters": {
        "content": "Visit Aistudio to create your Gemini API key: https://aistudio.google.com/app/apikey",
        "height": 260,
        "width": 320
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1000,
        -720
      ],
      "typeVersion": 1,
      "id": "e1514717-8815-40e4-a37d-41973e79e4b3",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "d32f4405-a176-4cc8-a927-059a8dd6846b",
              "name": "User Name",
              "value": "={{ $('Loop Over Items').item.json.userName }}",
              "type": "string"
            },
            {
              "id": "39f209fa-f2d7-417f-9995-cae3a25ded12",
              "name": "User Location",
              "value": "={{ $('Loop Over Items').item.json.userLocation }}",
              "type": "string"
            },
            {
              "id": "a0d52ba1-93c1-4835-bec6-55ce993c9a1c",
              "name": "Rating",
              "value": "={{ $('Loop Over Items').item.json.rating }}",
              "type": "number"
            },
            {
              "id": "c4a09ecd-f99d-408c-a670-f2dad2b0a10b",
              "name": "Review Title",
              "value": "={{ $('Loop Over Items').item.json.reviewTitle }}",
              "type": "string"
            },
            {
              "id": "736ec4cb-c34f-4407-b85b-6eb6f3b13e75",
              "name": "Good Review",
              "value": "={{ $('Loop Over Items').item.json.likedText }}",
              "type": "string"
            },
            {
              "id": "fe340b60-7284-4163-bf79-da6bd6c2b299",
              "name": "Bad Review",
              "value": "={{ $('Loop Over Items').item.json.dislikedText }}",
              "type": "string"
            },
            {
              "id": "2d47fe9d-425c-4eec-8bac-4a6db608586e",
              "name": "=Owner Response",
              "value": "={{ $('Loop Over Items').item.json.propertyResponse }}",
              "type": "string"
            },
            {
              "id": "bccfc21c-5d6f-4066-a9c1-f8e64c7df3fb",
              "name": "Check In Date",
              "value": "={{ $('Loop Over Items').item.json.checkInDate }}",
              "type": "string"
            },
            {
              "id": "f1abbf69-3ecc-48b4-88f4-dba428b35785",
              "name": "Check Out Date",
              "value": "={{ $('Loop Over Items').item.json.checkOutDate }}",
              "type": "string"
            },
            {
              "id": "2d2360e3-8c3e-405b-a1fc-4379d7bdb298",
              "name": "Review Date",
              "value": "={{ $('Loop Over Items').item.json.reviewDate }}",
              "type": "string"
            },
            {
              "id": "466b43b5-9845-487e-85e0-29e98c4d5357",
              "name": "Suggestion from ChatGPT",
              "value": "={{ $json.text.removeMarkdown() }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        920,
        -440
      ],
      "id": "f405e17c-9f11-4b2e-a4c4-5b7279c96d04",
      "name": "Set Headers"
    },
    {
      "parameters": {
        "content": "Place your hotel link from Booking.com\n\n\n\n\n\n\n\n",
        "height": 260,
        "width": 340
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -220,
        -520
      ],
      "typeVersion": 1,
      "id": "85f3fd7a-b42a-4a38-91a8-7d9927c5d03a",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "authentication": "nocoDbApiToken",
        "operation": "create",
        "workspaceId": "wsos9oy9",
        "projectId": "pfwwht9mj14anqo",
        "table": "mt1kpamehin1k8w",
        "dataToSend": "autoMapInputData"
      },
      "type": "n8n-nodes-base.nocoDb",
      "typeVersion": 3,
      "position": [
        1080,
        -440
      ],
      "id": "4611a228-d6cb-4661-83c1-05925ddede10",
      "name": "NocoDB",
      "credentials": {
        "nocoDbApiToken": {
          "id": "QsaglPF6sFyQVqlf",
          "name": "NocoDB Token account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://api.apify.com/v2/acts/tri_angle~expedia-hotels-com-reviews-scraper/run-sync-get-dataset-items?token={{ $('Apify API Key').item.json['API KEY'] }}",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n    \"maxReviewsPerHotel\": 24,\n    \"sortBy\": \"Most recent\",\n    \"startUrls\": [\n        {\n            \"url\": \"{{ $json['Expedia hotel link'] }}\",\n            \"method\": \"GET\"\n        }\n    ]\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        200,
        -160
      ],
      "id": "40f9e125-cbff-4569-859a-278dbf022847",
      "name": "Expedia review scraper"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        420,
        -160
      ],
      "id": "06fac0d6-8a4a-4766-b58b-2a4d2be4086f",
      "name": "Loop Over Items2"
    },
    {
      "parameters": {
        "content": "Place your hotel link from Expedia.com\n\n\n\n\n\n\n\n",
        "height": 260,
        "width": 340
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -220,
        -240
      ],
      "typeVersion": 1,
      "id": "b63e9c6c-cece-4393-b510-4137a8aa5e66",
      "name": "Sticky Note3"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "72c52d0a-2f24-4858-a32d-5351715cd0c2",
              "name": "Review Date",
              "value": "={{ $('Loop Over Items2').item.json.submissionTime.longDateFormat }}",
              "type": "string"
            },
            {
              "id": "9512d40f-c17b-412e-9a85-6a45535a2cf9",
              "name": "Rating",
              "value": "={{ $('Loop Over Items2').item.json.reviewScoreWithDescription.value }}",
              "type": "string"
            },
            {
              "id": "412ca6cb-b9bc-437a-86c3-cc136465bd34",
              "name": "Review",
              "value": "={{ $('Loop Over Items2').item.json.text }}",
              "type": "string"
            },
            {
              "id": "6c91d033-c984-4008-b23a-5d06111fbc2c",
              "name": "Liked",
              "value": "={{ $('Loop Over Items2').item.json.themes[0].label }}",
              "type": "string"
            },
            {
              "id": "9f227c02-4dae-4368-a782-f40b4942d1f0",
              "name": "Disliked",
              "value": "={{ $('Loop Over Items2').item.json.themes[1].label }}",
              "type": "string"
            },
            {
              "id": "d8d5384a-ce1b-4587-a76f-0bf3f2b4c91f",
              "name": "Suggestion from ChatGPT",
              "value": "={{ $json.text.removeMarkdown() }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        940,
        -160
      ],
      "id": "d581f156-33a4-46d7-934f-bce5bc99fd3c",
      "name": "Set Headers1"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Review:{{ $json.reviewTitle }}\nLiked:{{ $json.likedText }}\nDisliked:{{ $json.dislikedText }}\n\nAnalyze customer reviews of a hotel, identifying common likes and dislikes. Provide a structured report highlighting strengths and areas for improvement. Offer actionable suggestions to enhance the hotel's offerings, focusing on service quality, amenities, cleanliness, customer experience, and any recurring concerns mentioned in the feedback.\n\nPlease provide the result in English only and nothing else and keep it concise and to the point."
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.5,
      "position": [
        620,
        -440
      ],
      "id": "529db4e7-8089-4922-a92c-059c43f17b61",
      "name": "Suggestions"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Review:{{ $json.text }}\nLiked:{{ $json.themes[0].label }}\nDisliked:{{ $json.themes[1].label }}\n\nAnalyze customer reviews of a hotel, identifying common likes and dislikes. Provide a structured report highlighting strengths and areas for improvement. Offer actionable suggestions to enhance the hotel's offerings, focusing on service quality, amenities, cleanliness, customer experience, and any recurring concerns mentioned in the feedback.\n\nPlease provide the result in English only and nothing else and keep it concise and to the point."
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.5,
      "position": [
        640,
        -160
      ],
      "id": "d20a0a41-e5cf-4333-adac-a8ccd3bf0787",
      "name": "Suggestions1"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "4f86384c-944d-41f3-896b-ca79199093a7",
              "name": "Expedia hotel link",
              "value": "={{ $('Webhook').item.json.body.data.rows[0]['Expedia.com Hotel Link'].trim() }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -100,
        -160
      ],
      "id": "a10bd055-9abf-452e-8f2d-d3015d304263",
      "name": "Expedia.com link of the hotel"
    },
    {
      "parameters": {
        "authentication": "nocoDbApiToken",
        "operation": "create",
        "workspaceId": "wsos9oy9",
        "projectId": "pfwwht9mj14anqo",
        "table": "m2sxj3gqn53pq5c",
        "dataToSend": "autoMapInputData"
      },
      "type": "n8n-nodes-base.nocoDb",
      "typeVersion": 3,
      "position": [
        1100,
        -160
      ],
      "id": "b706022b-9303-4bdf-bad6-4f0251841948",
      "name": "NocoDB1",
      "credentials": {
        "nocoDbApiToken": {
          "id": "QsaglPF6sFyQVqlf",
          "name": "NocoDB Token account"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "name": "Replace Me",
      "typeVersion": 1,
      "position": [
        1240,
        -440
      ],
      "id": "1fc8fe72-d396-4387-a572-84e623042d9c"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "name": "Replace Me1",
      "typeVersion": 1,
      "position": [
        1260,
        -160
      ],
      "id": "da74a44e-1037-4eff-a607-b37bcac1aa1d"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        420,
        100
      ],
      "id": "2881735d-b3bd-44c2-a3a0-e8ea0674a09a",
      "name": "Loop Over Items3"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "72c52d0a-2f24-4858-a32d-5351715cd0c2",
              "name": "Review Date",
              "value": "={{ $('Loop Over Items3').item.json.publishedDate }}",
              "type": "string"
            },
            {
              "id": "d0b59090-3c86-47a8-bc01-203a63f8fd4d",
              "name": "Name",
              "value": "={{ $('Loop Over Items3').item.json.user.name }}",
              "type": "string"
            },
            {
              "id": "bfea709c-2423-4b11-965d-859e1c9c1d3d",
              "name": "User Location",
              "value": "={{ $('Loop Over Items3').item.json.user.userLocation.name }}",
              "type": "string"
            },
            {
              "id": "9512d40f-c17b-412e-9a85-6a45535a2cf9",
              "name": "Rating",
              "value": "={{ $('Loop Over Items3').item.json.rating }}",
              "type": "string"
            },
            {
              "id": "412ca6cb-b9bc-437a-86c3-cc136465bd34",
              "name": "Review",
              "value": "={{ $('Loop Over Items3').item.json.title }}",
              "type": "string"
            },
            {
              "id": "6c91d033-c984-4008-b23a-5d06111fbc2c",
              "name": "Liked",
              "value": "={{ $('Loop Over Items3').item.json.text }}",
              "type": "string"
            },
            {
              "id": "d8d5384a-ce1b-4587-a76f-0bf3f2b4c91f",
              "name": "Suggestion from ChatGPT",
              "value": "={{ $json.text.removeMarkdown() }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        940,
        100
      ],
      "id": "56d24480-16cd-44fc-bf4c-44a5097619c0",
      "name": "Set Headers2"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Review title:{{ $json.title }}\nreview text: {{ $json.text }}\nAnalyze customer reviews of a hotel, identifying common likes and dislikes. Provide a structured report highlighting strengths and areas for improvement. Offer actionable suggestions to enhance the hotel's offerings, focusing on service quality, amenities, cleanliness, customer experience, and any recurring concerns mentioned in the feedback.\n\nPlease provide the result in English only and nothing else and keep it concise and to the point."
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.5,
      "position": [
        640,
        100
      ],
      "id": "bfe43d63-24b0-4ef8-8bf7-d7a0bcc8da28",
      "name": "Suggestions2"
    },
    {
      "parameters": {
        "authentication": "nocoDbApiToken",
        "operation": "create",
        "workspaceId": "wsos9oy9",
        "projectId": "pfwwht9mj14anqo",
        "table": "mppzlgbxre2fewm",
        "dataToSend": "autoMapInputData"
      },
      "type": "n8n-nodes-base.nocoDb",
      "typeVersion": 3,
      "position": [
        1100,
        100
      ],
      "id": "56b2ce5c-2763-403c-978c-cdd4291cf7f4",
      "name": "NocoDB2",
      "credentials": {
        "nocoDbApiToken": {
          "id": "QsaglPF6sFyQVqlf",
          "name": "NocoDB Token account"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "name": "Replace Me2",
      "typeVersion": 1,
      "position": [
        1260,
        100
      ],
      "id": "2655bbd0-56a7-463a-b5c6-8093145c437b"
    },
    {
      "parameters": {
        "content": "Place your hotel link from Tripadvisor.com\n\n\n\n\n\n\n\n",
        "height": 260,
        "width": 340
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -220,
        40
      ],
      "typeVersion": 1,
      "id": "5cc05c0f-6cbf-42ce-b88a-41f059c65d3e",
      "name": "Sticky Note4"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "4f86384c-944d-41f3-896b-ca79199093a7",
              "name": "Tripadvisor hotel link",
              "value": "={{ $('Webhook').item.json.body.data.rows[0]['Tripadvisor.com  Hotel Link'].trim() }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -100,
        100
      ],
      "id": "a4d82125-bd7b-4334-8b81-adf910c166bb",
      "name": "Tripadvisor.com link of the hotel1"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://api.apify.com/v2/acts/maxcopell~tripadvisor-reviews/run-sync-get-dataset-items?token={{ $('Apify API Key').item.json['API KEY'] }}",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n    \"maxItemsPerQuery\": 24,\n    \"reviewRatings\": [\n        \"ALL_REVIEW_RATINGS\"\n    ],\n    \"reviewsLanguages\": [\n        \"ALL_REVIEW_LANGUAGES\"\n    ],\n    \"scrapeReviewerInfo\": true,\n    \"startUrls\": [\n        {\n            \"url\": \"{{ $json['Tripadvisor hotel link'] }}\",\n            \"method\": \"GET\"\n        }\n    ]\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        200,
        100
      ],
      "id": "4b442b7a-08ae-43b0-b78e-e55eb145b564",
      "name": "Tripadvisor review scraper"
    },
    {
      "parameters": {
        "content": "Nocodb base link:\nhttps://app.nocodb.com/p/hotel-review-management\n",
        "height": 260,
        "width": 320
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -620,
        -520
      ],
      "typeVersion": 1,
      "id": "9fbdfdb0-581a-4ac9-b78e-3f3cdd04f2ad",
      "name": "Sticky Note5"
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Apify API Key",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "bookings.com review scraper": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [],
        [
          {
            "node": "Suggestions",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Apify API Key": {
      "main": [
        [
          {
            "node": "Booking.com link of the hotel",
            "type": "main",
            "index": 0
          },
          {
            "node": "Tripadvisor.com link of the hotel1",
            "type": "main",
            "index": 0
          },
          {
            "node": "Expedia.com link of the hotel",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Booking.com link of the hotel": {
      "main": [
        [
          {
            "node": "bookings.com review scraper",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Suggestions",
            "type": "ai_languageModel",
            "index": 0
          },
          {
            "node": "Suggestions1",
            "type": "ai_languageModel",
            "index": 0
          },
          {
            "node": "Suggestions2",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Set Headers": {
      "main": [
        [
          {
            "node": "NocoDB",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Expedia review scraper": {
      "main": [
        [
          {
            "node": "Loop Over Items2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items2": {
      "main": [
        [],
        [
          {
            "node": "Suggestions1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Suggestions": {
      "main": [
        [
          {
            "node": "Set Headers",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Suggestions1": {
      "main": [
        [
          {
            "node": "Set Headers1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Expedia.com link of the hotel": {
      "main": [
        [
          {
            "node": "Expedia review scraper",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Headers1": {
      "main": [
        [
          {
            "node": "NocoDB1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "NocoDB": {
      "main": [
        [
          {
            "node": "Replace Me",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Replace Me": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "NocoDB1": {
      "main": [
        [
          {
            "node": "Replace Me1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Replace Me1": {
      "main": [
        [
          {
            "node": "Loop Over Items2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items3": {
      "main": [
        [],
        [
          {
            "node": "Suggestions2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Headers2": {
      "main": [
        [
          {
            "node": "NocoDB2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Suggestions2": {
      "main": [
        [
          {
            "node": "Set Headers2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "NocoDB2": {
      "main": [
        [
          {
            "node": "Replace Me2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Replace Me2": {
      "main": [
        [
          {
            "node": "Loop Over Items3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Tripadvisor.com link of the hotel1": {
      "main": [
        [
          {
            "node": "Tripadvisor review scraper",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Tripadvisor review scraper": {
      "main": [
        [
          {
            "node": "Loop Over Items3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "9be6ed5a-ee51-40ba-8cd8-dc1223a9befc",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "b6d0384ceaa512c62c6ed3d552d6788e2c507d509518a50872d7cdc005f831f6"
  },
  "id": "am6SexOGw2RUItnZ",
  "tags": []
}