Categorized/Specific Use/YouTube to AI Video Cloner Automation.json
{
    "name": "clone content generation",
    "flow": [
        {
            "id": 1,
            "module": "google-sheets:watchRows",
            "version": 2,
            "parameters": {
                "from": "drive",
                "mode": "select",
                "limit": 2,
                "sheetId": "Foaie1",
                "__IMTCONN__": 5597978,
                "spreadsheetId": "/1ain-QlqSXQ8jwAU7O8cMLW0IIXDZvC86rP80Ng5pbZo",
                "tableFirstRow": "A1:Z1",
                "includesHeaders": true,
                "valueRenderOption": "FORMATTED_VALUE",
                "dateTimeRenderOption": "FORMATTED_STRING"
            },
            "mapper": {},
            "metadata": {
                "designer": {
                    "x": 0,
                    "y": 0
                },
                "restore": {
                    "parameters": {
                        "from": {
                            "label": "My Drive"
                        },
                        "mode": {
                            "label": "Search by path"
                        },
                        "sheetId": {
                            "label": "Foaie1"
                        },
                        "__IMTCONN__": {
                            "data": {
                                "scoped": "true",
                                "connection": "google"
                            },
                            "label": "My Google connection (georgiualex32@gmail.com)"
                        },
                        "spreadsheetId": {
                            "path": [
                                "long form url"
                            ]
                        },
                        "includesHeaders": {
                            "label": "Yes"
                        },
                        "valueRenderOption": {
                            "mode": "chose",
                            "label": "Formatted value"
                        },
                        "dateTimeRenderOption": {
                            "mode": "chose",
                            "label": "Formatted string"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account:google",
                        "label": "Connection",
                        "required": true
                    },
                    {
                        "name": "mode",
                        "type": "select",
                        "label": "Search Method",
                        "required": true,
                        "validate": {
                            "enum": [
                                "select",
                                "fromAll",
                                "map"
                            ]
                        }
                    },
                    {
                        "name": "includesHeaders",
                        "type": "select",
                        "label": "Table contains headers",
                        "required": true,
                        "validate": {
                            "enum": [
                                true,
                                false
                            ]
                        }
                    },
                    {
                        "name": "limit",
                        "type": "uinteger",
                        "label": "Limit",
                        "required": true
                    },
                    {
                        "name": "valueRenderOption",
                        "type": "select",
                        "label": "Value render option",
                        "validate": {
                            "enum": [
                                "FORMATTED_VALUE",
                                "UNFORMATTED_VALUE",
                                "FORMULA"
                            ]
                        }
                    },
                    {
                        "name": "dateTimeRenderOption",
                        "type": "select",
                        "label": "Date and time render option",
                        "validate": {
                            "enum": [
                                "SERIAL_NUMBER",
                                "FORMATTED_STRING"
                            ]
                        }
                    },
                    {
                        "name": "from",
                        "type": "select",
                        "label": "Drive",
                        "required": true,
                        "validate": {
                            "enum": [
                                "drive",
                                "share",
                                "team"
                            ]
                        }
                    },
                    {
                        "name": "spreadsheetId",
                        "type": "file",
                        "label": "Spreadsheet ID",
                        "required": true
                    },
                    {
                        "name": "sheetId",
                        "type": "select",
                        "label": "Sheet Name",
                        "required": true
                    },
                    {
                        "name": "tableFirstRow",
                        "type": "text",
                        "label": "Row with headers",
                        "required": true
                    }
                ],
                "interface": [
                    {
                        "name": "__ROW_NUMBER__",
                        "type": "number",
                        "label": "Row number"
                    },
                    {
                        "name": "__SPREADSHEET_ID__",
                        "type": "text",
                        "label": "Spreadsheet ID"
                    },
                    {
                        "name": "__SHEET__",
                        "type": "text",
                        "label": "Sheet"
                    },
                    {
                        "name": "0",
                        "type": "text",
                        "label": "URL (A)"
                    },
                    {
                        "name": "1",
                        "type": "text",
                        "label": "(B)"
                    },
                    {
                        "name": "2",
                        "type": "text",
                        "label": "(C)"
                    },
                    {
                        "name": "3",
                        "type": "text",
                        "label": "(D)"
                    },
                    {
                        "name": "4",
                        "type": "text",
                        "label": "(E)"
                    },
                    {
                        "name": "5",
                        "type": "text",
                        "label": "(F)"
                    },
                    {
                        "name": "6",
                        "type": "text",
                        "label": "(G)"
                    },
                    {
                        "name": "7",
                        "type": "text",
                        "label": "(H)"
                    },
                    {
                        "name": "8",
                        "type": "text",
                        "label": "(I)"
                    },
                    {
                        "name": "9",
                        "type": "text",
                        "label": "(J)"
                    },
                    {
                        "name": "10",
                        "type": "text",
                        "label": "(K)"
                    },
                    {
                        "name": "11",
                        "type": "text",
                        "label": "(L)"
                    },
                    {
                        "name": "12",
                        "type": "text",
                        "label": "(M)"
                    },
                    {
                        "name": "13",
                        "type": "text",
                        "label": "(N)"
                    },
                    {
                        "name": "14",
                        "type": "text",
                        "label": "(O)"
                    },
                    {
                        "name": "15",
                        "type": "text",
                        "label": "(P)"
                    },
                    {
                        "name": "16",
                        "type": "text",
                        "label": "(Q)"
                    },
                    {
                        "name": "17",
                        "type": "text",
                        "label": "(R)"
                    },
                    {
                        "name": "18",
                        "type": "text",
                        "label": "(S)"
                    },
                    {
                        "name": "19",
                        "type": "text",
                        "label": "(T)"
                    },
                    {
                        "name": "20",
                        "type": "text",
                        "label": "(U)"
                    },
                    {
                        "name": "21",
                        "type": "text",
                        "label": "(V)"
                    },
                    {
                        "name": "22",
                        "type": "text",
                        "label": "(W)"
                    },
                    {
                        "name": "23",
                        "type": "text",
                        "label": "(X)"
                    },
                    {
                        "name": "24",
                        "type": "text",
                        "label": "(Y)"
                    },
                    {
                        "name": "25",
                        "type": "text",
                        "label": "(Z)"
                    }
                ]
            }
        },
        {
            "id": 2,
            "module": "dumplingai:getYoutubeTranscript",
            "version": 1,
            "parameters": {
                "__IMTCONN__": 6290966
            },
            "mapper": {
                "videoUrl": "{{1.`0`}}",
                "includeTimestamps": false,
                "preferredLanguage": "en",
                "timestampsToCombine": "5"
            },
            "metadata": {
                "designer": {
                    "x": 300,
                    "y": 0
                },
                "restore": {
                    "expect": {
                        "includeTimestamps": {
                            "mode": "chose"
                        }
                    },
                    "parameters": {
                        "__IMTCONN__": {
                            "data": {
                                "scoped": "true",
                                "connection": "dumplingai"
                            },
                            "label": "My Dumpling AI connection (make)"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account:dumplingai",
                        "label": "Connection",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "name": "videoUrl",
                        "type": "text",
                        "label": "YouTube Video URL",
                        "required": true
                    },
                    {
                        "name": "includeTimestamps",
                        "type": "boolean",
                        "label": "Include timestamps",
                        "required": true
                    },
                    {
                        "name": "timestampsToCombine",
                        "type": "number",
                        "label": "Timestamps to combine",
                        "required": true
                    },
                    {
                        "name": "preferredLanguage",
                        "type": "text",
                        "label": "Preferred Language"
                    }
                ]
            }
        },
        {
            "id": 3,
            "module": "openai-gpt-3:CreateCompletion",
            "version": 1,
            "parameters": {
                "__IMTCONN__": 5598282
            },
            "mapper": {
                "model": "gpt-4o",
                "top_p": "1",
                "select": "chat",
                "messages": [
                    {
                        "role": "assistant",
                        "content": "I want to take the long form video and turn it into a short form viral content based off the topic\n\nFollow the hook,curiosity gap,value,comment CTA framework\n\nHere is the transcript to base it off:\n{{2.transcript}}\n"
                    }
                ],
                "max_tokens": "2048",
                "temperature": "1",
                "n_completions": "1",
                "response_format": "text"
            },
            "metadata": {
                "designer": {
                    "x": 600,
                    "y": 0
                },
                "restore": {
                    "expect": {
                        "stop": {
                            "mode": "chose"
                        },
                        "model": {
                            "mode": "chose",
                            "label": "gpt-4o (system)"
                        },
                        "select": {
                            "label": "Create a Chat Completion (GPT and o1 models)"
                        },
                        "messages": {
                            "mode": "chose",
                            "items": [
                                {
                                    "role": {
                                        "mode": "chose",
                                        "label": "Assistant"
                                    }
                                }
                            ]
                        },
                        "logit_bias": {
                            "mode": "chose"
                        },
                        "response_format": {
                            "mode": "chose",
                            "label": "Text"
                        },
                        "additionalParameters": {
                            "mode": "chose"
                        }
                    },
                    "parameters": {
                        "__IMTCONN__": {
                            "data": {
                                "scoped": "true",
                                "connection": "openai-gpt-3"
                            },
                            "label": "My OpenAI connection"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account:openai-gpt-3",
                        "label": "Connection",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "name": "select",
                        "type": "select",
                        "label": "Select Method",
                        "required": true,
                        "validate": {
                            "enum": [
                                "chat",
                                "prompt"
                            ]
                        }
                    },
                    {
                        "name": "temperature",
                        "type": "number",
                        "label": "Temperature",
                        "validate": {
                            "max": 2,
                            "min": 0
                        }
                    },
                    {
                        "name": "top_p",
                        "type": "number",
                        "label": "Top P",
                        "validate": {
                            "max": 1,
                            "min": 0
                        }
                    },
                    {
                        "name": "n_completions",
                        "type": "number",
                        "label": "Number"
                    },
                    {
                        "name": "frequency_penalty",
                        "type": "number",
                        "label": "Frequency Penalty",
                        "validate": {
                            "max": 2,
                            "min": -2
                        }
                    },
                    {
                        "name": "presence_penalty",
                        "type": "number",
                        "label": "Presence Penalty",
                        "validate": {
                            "max": 2,
                            "min": -2
                        }
                    },
                    {
                        "name": "logit_bias",
                        "spec": {
                            "name": "value",
                            "spec": [
                                {
                                    "name": "token",
                                    "type": "text",
                                    "label": "Token ID",
                                    "required": true
                                },
                                {
                                    "name": "probability",
                                    "type": "number",
                                    "label": "Probability",
                                    "required": true,
                                    "validate": {
                                        "max": 100,
                                        "min": -100
                                    }
                                }
                            ],
                            "type": "collection",
                            "label": "Token Probability"
                        },
                        "type": "array",
                        "label": "Token Probability"
                    },
                    {
                        "name": "seed",
                        "type": "integer",
                        "label": "Seed"
                    },
                    {
                        "name": "stop",
                        "spec": {
                            "name": "value",
                            "type": "text",
                            "label": "Stop Sequence"
                        },
                        "type": "array",
                        "label": "Stop Sequences",
                        "validate": {
                            "maxItems": 4
                        }
                    },
                    {
                        "name": "additionalParameters",
                        "spec": {
                            "name": "value",
                            "spec": [
                                {
                                    "name": "key",
                                    "type": "text",
                                    "label": "Parameter Name",
                                    "required": true
                                },
                                {
                                    "name": "type",
                                    "type": "select",
                                    "label": "Input Type",
                                    "options": [
                                        {
                                            "label": "Text",
                                            "value": "text",
                                            "nested": [
                                                {
                                                    "name": "value",
                                                    "type": "text",
                                                    "label": "Parameter Value"
                                                }
                                            ],
                                            "default": true
                                        },
                                        {
                                            "label": "Number",
                                            "value": "number",
                                            "nested": [
                                                {
                                                    "name": "value",
                                                    "type": "number",
                                                    "label": "Parameter Value"
                                                }
                                            ]
                                        },
                                        {
                                            "label": "Boolean",
                                            "value": "boolean",
                                            "nested": [
                                                {
                                                    "name": "value",
                                                    "type": "boolean",
                                                    "label": "Parameter Value"
                                                }
                                            ]
                                        },
                                        {
                                            "label": "Date",
                                            "value": "date",
                                            "nested": [
                                                {
                                                    "name": "value",
                                                    "type": "date",
                                                    "label": "Parameter Value"
                                                }
                                            ]
                                        },
                                        {
                                            "label": "Any",
                                            "value": "any",
                                            "nested": [
                                                {
                                                    "name": "value",
                                                    "type": "any",
                                                    "label": "Parameter Value"
                                                }
                                            ]
                                        }
                                    ]
                                }
                            ],
                            "type": "collection",
                            "label": "Input Parameter"
                        },
                        "type": "array",
                        "label": "Other Input Parameters"
                    },
                    {
                        "name": "model",
                        "type": "select",
                        "label": "Model",
                        "required": true
                    },
                    {
                        "name": "max_tokens",
                        "type": "uinteger",
                        "label": "Max Completion Tokens"
                    },
                    {
                        "name": "messages",
                        "spec": {
                            "name": "value",
                            "spec": [
                                {
                                    "name": "role",
                                    "type": "select",
                                    "label": "Role",
                                    "options": {
                                        "store": [
                                            {
                                                "label": "User",
                                                "value": "user",
                                                "nested": [
                                                    {
                                                        "help": "Text content of the message on behalf of the selected __Role__.",
                                                        "name": "content",
                                                        "type": "text",
                                                        "label": "Text Content"
                                                    },
                                                    {
                                                        "name": "imageInputType",
                                                        "type": "select",
                                                        "label": "Image Input Type",
                                                        "options": [
                                                            {
                                                                "label": "URL",
                                                                "value": "url",
                                                                "nested": [
                                                                    {
                                                                        "help": "Make sure to use a publicly accessible URL.\nYou can test if your image is publicly accessible by opening the link in an incognito tab.",
                                                                        "name": "imageUrl",
                                                                        "type": "url",
                                                                        "label": "Image URL"
                                                                    }
                                                                ]
                                                            },
                                                            {
                                                                "label": "Image File",
                                                                "value": "file",
                                                                "nested": [
                                                                    {
                                                                        "name": "imageFile",
                                                                        "spec": [
                                                                            {
                                                                                "help": "Accepted extensions: `.jpg`, `.jpeg`, `.png`, `.webp` and `.gif`.",
                                                                                "name": "imageFilename",
                                                                                "type": "filename",
                                                                                "label": "Image Filename",
                                                                                "semantic": "file:name",
                                                                                "extension": [
                                                                                    "jpg",
                                                                                    "jpeg",
                                                                                    "png",
                                                                                    "webp",
                                                                                    "gif"
                                                                                ]
                                                                            },
                                                                            {
                                                                                "name": "imageData",
                                                                                "type": "buffer",
                                                                                "label": "Image Data",
                                                                                "semantic": "file:data"
                                                                            }
                                                                        ],
                                                                        "type": "collection",
                                                                        "label": "Image"
                                                                    }
                                                                ]
                                                            }
                                                        ],
                                                        "mappable": false
                                                    },
                                                    {
                                                        "name": "imageDetail",
                                                        "type": "select",
                                                        "label": "Image Detail",
                                                        "options": [
                                                            {
                                                                "label": "Auto",
                                                                "value": "auto",
                                                                "default": true
                                                            },
                                                            {
                                                                "label": "High",
                                                                "value": "high"
                                                            },
                                                            {
                                                                "label": "Low",
                                                                "value": "low"
                                                            }
                                                        ],
                                                        "advanced": true
                                                    }
                                                ]
                                            },
                                            {
                                                "label": "Assistant",
                                                "value": "assistant",
                                                "nested": [
                                                    {
                                                        "help": "Text content of the message on behalf of the selected __Role__.",
                                                        "name": "content",
                                                        "type": "text",
                                                        "label": "Text Content"
                                                    }
                                                ]
                                            },
                                            {
                                                "label": "Developer / System",
                                                "value": "system",
                                                "nested": [
                                                    {
                                                        "help": "Text content of the message on behalf of the selected __Role__.",
                                                        "name": "content",
                                                        "type": "text",
                                                        "label": "Text Content"
                                                    }
                                                ]
                                            }
                                        ]
                                    },
                                    "required": true
                                }
                            ],
                            "type": "collection",
                            "label": "Message"
                        },
                        "type": "array",
                        "label": "Messages",
                        "required": true
                    },
                    {
                        "name": "response_format",
                        "type": "select",
                        "label": "Response Format",
                        "validate": {
                            "enum": [
                                "text",
                                "json_object"
                            ]
                        }
                    },
                    {
                        "name": "prediction",
                        "type": "text",
                        "label": "Predicted Outputs"
                    }
                ],
                "interface": [
                    {
                        "name": "result",
                        "type": "any",
                        "label": "Result"
                    },
                    {
                        "name": "id",
                        "type": "text",
                        "label": "ID"
                    },
                    {
                        "name": "object",
                        "type": "text",
                        "label": "Object"
                    },
                    {
                        "name": "created",
                        "type": "date",
                        "label": "Created"
                    },
                    {
                        "name": "model",
                        "type": "text",
                        "label": "Model"
                    },
                    {
                        "name": "choices",
                        "spec": {
                            "spec": [
                                {
                                    "name": "text",
                                    "type": "text",
                                    "label": "Text"
                                },
                                {
                                    "name": "index",
                                    "type": "number",
                                    "label": "Index"
                                },
                                {
                                    "name": "logprobs",
                                    "type": "text",
                                    "label": "Log Probs"
                                },
                                {
                                    "name": "finish_reason",
                                    "type": "text",
                                    "label": "Finish Reason"
                                },
                                {
                                    "name": "message",
                                    "spec": [
                                        {
                                            "name": "role",
                                            "type": "text",
                                            "label": "Role"
                                        },
                                        {
                                            "name": "content",
                                            "type": "text",
                                            "label": "Content"
                                        },
                                        {
                                            "name": "refusal",
                                            "type": "text",
                                            "label": "Refusal"
                                        }
                                    ],
                                    "type": "collection",
                                    "label": "Message"
                                }
                            ],
                            "type": "collection"
                        },
                        "type": "array",
                        "label": "Choices"
                    },
                    {
                        "name": "usage",
                        "spec": [
                            {
                                "name": "prompt_tokens",
                                "type": "number",
                                "label": "Prompt Tokens"
                            },
                            {
                                "name": "completion_tokens",
                                "type": "text",
                                "label": "Completion Tokens"
                            },
                            {
                                "name": "total_tokens",
                                "type": "number",
                                "label": "Total Tokens"
                            },
                            {
                                "name": "prompt_tokens_details",
                                "spec": [
                                    {
                                        "name": "cached_tokens",
                                        "type": "uinteger",
                                        "label": "Cached Tokens"
                                    },
                                    {
                                        "name": "text_tokens",
                                        "type": "uinteger",
                                        "label": "Text Tokens"
                                    },
                                    {
                                        "name": "image_tokens",
                                        "type": "uinteger",
                                        "label": "Image Tokens"
                                    },
                                    {
                                        "name": "audio_tokens",
                                        "type": "uinteger",
                                        "label": "Audio Tokens"
                                    }
                                ],
                                "type": "collection",
                                "label": "Prompt Tokens Details"
                            },
                            {
                                "name": "completion_tokens_details",
                                "spec": [
                                    {
                                        "name": "reasoning_tokens",
                                        "type": "uinteger",
                                        "label": "Reasoning Tokens"
                                    },
                                    {
                                        "name": "text_tokens",
                                        "type": "uinteger",
                                        "label": "Text Tokens"
                                    },
                                    {
                                        "name": "audio_tokens",
                                        "type": "uinteger",
                                        "label": "Audio Tokens"
                                    },
                                    {
                                        "name": "accepted_prediction_tokens",
                                        "type": "uinteger",
                                        "label": "Accepted Prediction Tokens"
                                    },
                                    {
                                        "name": "rejected_prediction_tokens",
                                        "type": "uinteger",
                                        "label": "Rejected Prediction Tokens"
                                    }
                                ],
                                "type": "collection",
                                "label": "Completion Tokens Details"
                            }
                        ],
                        "type": "collection",
                        "label": "Usage"
                    },
                    {
                        "name": "service_tier",
                        "type": "text",
                        "label": "Service Tier"
                    },
                    {
                        "name": "system_fingerprint",
                        "type": "text",
                        "label": "System Fingerprint"
                    }
                ]
            }
        },
        {
            "id": 4,
            "module": "heygen:createAnAvatarVideoV2",
            "version": 1,
            "parameters": {
                "__IMTCONN__": 5957384
            },
            "mapper": {
                "test": false,
                "caption": false,
                "dimension": {
                    "width": "1280",
                    "height": "720"
                },
                "video_inputs": [
                    {
                        "voice": {
                            "type": "text",
                            "speed": "1",
                            "emotion": "Excited",
                            "voice_id": "e23c82c61d934fa2b7fbda39a2247228"
                        },
                        "character": {
                            "type": "avatar",
                            "scale": "1",
                            "offset": {},
                            "matting": false,
                            "avatar_id": "Armando_Sweater_Front_public"
                        },
                        "background": {}
                    }
                ]
            },
            "metadata": {
                "designer": {
                    "x": 900,
                    "y": 0
                },
                "restore": {
                    "expect": {
                        "test": {
                            "mode": "chose"
                        },
                        "caption": {
                            "mode": "chose"
                        },
                        "video_inputs": {
                            "mode": "chose",
                            "items": [
                                {
                                    "voice": {
                                        "nested": {
                                            "type": {
                                                "mode": "chose",
                                                "label": "Text"
                                            },
                                            "emotion": {
                                                "mode": "chose",
                                                "label": "Excited"
                                            },
                                            "voice_id": {
                                                "mode": "chose",
                                                "label": "Theo"
                                            }
                                        }
                                    },
                                    "character": {
                                        "nested": {
                                            "type": {
                                                "mode": "chose",
                                                "label": "Avatar"
                                            },
                                            "matting": {
                                                "mode": "chose"
                                            },
                                            "avatar_id": {
                                                "mode": "chose",
                                                "label": "Armando Sweater Front, Armando_Sweater_Front_public"
                                            },
                                            "avatar_style": {
                                                "mode": "chose",
                                                "label": "Empty"
                                            }
                                        }
                                    },
                                    "background": {
                                        "nested": {
                                            "type": {
                                                "mode": "chose",
                                                "label": "Empty"
                                            }
                                        }
                                    }
                                }
                            ]
                        }
                    },
                    "parameters": {
                        "__IMTCONN__": {
                            "data": {
                                "scoped": "true",
                                "connection": "hey-gen-9e1ue3"
                            },
                            "label": "My HeyGen connection"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account:hey-gen-9e1ue3",
                        "label": "Connection",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "name": "video_inputs",
                        "spec": [
                            {
                                "name": "character",
                                "spec": [
                                    {
                                        "name": "type",
                                        "type": "select",
                                        "label": "Type",
                                        "options": [
                                            {
                                                "label": "Avatar",
                                                "value": "avatar",
                                                "nested": [
                                                    {
                                                        "name": "avatar_id",
                                                        "type": "select",
                                                        "label": "Avatar",
                                                        "options": "rpc://heygen/1/listAvatars",
                                                        "required": true
                                                    },
                                                    {
                                                        "name": "scale",
                                                        "type": "number",
                                                        "label": "Avatar scale",
                                                        "default": 1,
                                                        "required": true,
                                                        "validate": {
                                                            "max": 2,
                                                            "min": 0
                                                        }
                                                    },
                                                    {
                                                        "name": "avatar_style",
                                                        "type": "select",
                                                        "label": "Avatar Style",
                                                        "options": [
                                                            {
                                                                "label": "Circle",
                                                                "value": "circle"
                                                            },
                                                            {
                                                                "label": "Normal",
                                                                "value": "normal"
                                                            },
                                                            {
                                                                "label": "Close Up",
                                                                "value": "closeUp"
                                                            }
                                                        ]
                                                    },
                                                    {
                                                        "name": "offset",
                                                        "spec": [
                                                            {
                                                                "name": "x",
                                                                "type": "number",
                                                                "label": "X",
                                                                "default": 0
                                                            },
                                                            {
                                                                "name": "y",
                                                                "type": "number",
                                                                "label": "Y",
                                                                "default": 0
                                                            }
                                                        ],
                                                        "type": "collection",
                                                        "label": "Offset"
                                                    },
                                                    {
                                                        "help": "Whether to do matting",
                                                        "name": "matting",
                                                        "type": "boolean",
                                                        "label": "Matting",
                                                        "default": false,
                                                        "required": false
                                                    },
                                                    {
                                                        "help": "Color value in hex format.",
                                                        "name": "circle_background_color",
                                                        "type": "text",
                                                        "label": "Circle Background Color",
                                                        "required": false
                                                    }
                                                ]
                                            },
                                            {
                                                "label": "Talking Photo",
                                                "value": "talking_photo",
                                                "nested": [
                                                    {
                                                        "name": "talking_photo_id",
                                                        "type": "select",
                                                        "label": "Talking Photo ID",
                                                        "options": "rpc://heygen/1/listTalkingVoicesV2",
                                                        "required": true
                                                    },
                                                    {
                                                        "name": "scale",
                                                        "type": "number",
                                                        "label": "Talking Photo scale",
                                                        "default": 1,
                                                        "required": true,
                                                        "validate": {
                                                            "max": 2,
                                                            "min": 0
                                                        }
                                                    },
                                                    {
                                                        "name": "talking_photo_style",
                                                        "type": "select",
                                                        "label": "Talking Photo crop style",
                                                        "options": [
                                                            {
                                                                "label": "Square",
                                                                "value": "square"
                                                            },
                                                            {
                                                                "label": "Circle",
                                                                "value": "circle"
                                                            }
                                                        ]
                                                    },
                                                    {
                                                        "name": "offset",
                                                        "spec": [
                                                            {
                                                                "name": "x",
                                                                "type": "number",
                                                                "label": "X",
                                                                "default": 0
                                                            },
                                                            {
                                                                "name": "y",
                                                                "type": "number",
                                                                "label": "Y",
                                                                "default": 0
                                                            }
                                                        ],
                                                        "type": "collection",
                                                        "label": "Offset",
                                                        "required": true
                                                    },
                                                    {
                                                        "name": "talking_style",
                                                        "type": "select",
                                                        "label": "Talking Photo talking style",
                                                        "default": "stable",
                                                        "options": [
                                                            {
                                                                "label": "Stable",
                                                                "value": "stable"
                                                            },
                                                            {
                                                                "label": "Expressive",
                                                                "value": "expressive"
                                                            }
                                                        ]
                                                    },
                                                    {
                                                        "name": "expression",
                                                        "type": "select",
                                                        "label": "Talking Photo expression style",
                                                        "default": "default",
                                                        "options": [
                                                            {
                                                                "label": "Default",
                                                                "value": "default"
                                                            },
                                                            {
                                                                "label": "Happy",
                                                                "value": "happy"
                                                            }
                                                        ]
                                                    },
                                                    {
                                                        "help": "Whether to enhance this photar image",
                                                        "name": "super_resolution",
                                                        "type": "boolean",
                                                        "label": "Super Resolution",
                                                        "required": false
                                                    },
                                                    {
                                                        "help": "Whether to do matting",
                                                        "name": "matting",
                                                        "type": "boolean",
                                                        "label": "Matting",
                                                        "required": false
                                                    },
                                                    {
                                                        "help": "Background color in the circle/square when using circle/square style. Color value in hex format.",
                                                        "name": "circle_background_color",
                                                        "type": "text",
                                                        "label": "Circle Background Color",
                                                        "required": false
                                                    }
                                                ]
                                            }
                                        ]
                                    }
                                ],
                                "type": "collection",
                                "label": "Character Settings"
                            },
                            {
                                "name": "voice",
                                "spec": [
                                    {
                                        "name": "type",
                                        "type": "select",
                                        "label": "Voice Type",
                                        "options": [
                                            {
                                                "label": "Text",
                                                "value": "text",
                                                "nested": [
                                                    {
                                                        "name": "voice_id",
                                                        "type": "select",
                                                        "label": "Voice ID",
                                                        "options": "rpc://heygen/1/listVoices"
                                                    },
                                                    {
                                                        "name": "input_text",
                                                        "type": "text",
                                                        "label": "Input Text"
                                                    },
                                                    {
                                                        "name": "speed",
                                                        "type": "number",
                                                        "label": "Voice Speec",
                                                        "default": 1,
                                                        "validate": {
                                                            "max": 1.5,
                                                            "min": 0.5
                                                        }
                                                    },
                                                    {
                                                        "name": "pitch",
                                                        "type": "integer",
                                                        "label": "Voice Pitch",
                                                        "default": 0,
                                                        "validate": {
                                                            "max": 50,
                                                            "min": -50
                                                        }
                                                    },
                                                    {
                                                        "name": "emotion",
                                                        "type": "select",
                                                        "label": "Voice Emotion method",
                                                        "options": [
                                                            {
                                                                "label": "Excited",
                                                                "value": "Excited"
                                                            },
                                                            {
                                                                "label": "Friendly",
                                                                "value": "Friendly"
                                                            },
                                                            {
                                                                "label": "Serious",
                                                                "value": "Serious"
                                                            },
                                                            {
                                                                "label": "Soothing",
                                                                "value": "Soothing"
                                                            },
                                                            {
                                                                "label": "Broadcaster",
                                                                "value": "Broadcaster"
                                                            }
                                                        ]
                                                    }
                                                ]
                                            },
                                            {
                                                "label": "Audio",
                                                "value": "audio",
                                                "nested": [
                                                    {
                                                        "name": "audio_url",
                                                        "type": "text",
                                                        "label": "Audio URL"
                                                    }
                                                ]
                                            },
                                            {
                                                "label": "Silence",
                                                "value": "silence",
                                                "nested": [
                                                    {
                                                        "name": "duration",
                                                        "type": "number",
                                                        "label": "Duration of Silence",
                                                        "validate": {
                                                            "max": 100,
                                                            "min": 1
                                                        }
                                                    }
                                                ]
                                            }
                                        ]
                                    }
                                ],
                                "type": "collection",
                                "label": "Voice Settings"
                            },
                            {
                                "name": "background",
                                "spec": [
                                    {
                                        "name": "type",
                                        "type": "select",
                                        "label": "Background Type",
                                        "options": [
                                            {
                                                "label": "Color Background",
                                                "value": "color",
                                                "nested": [
                                                    {
                                                        "help": "Color value in hex format.",
                                                        "name": "value",
                                                        "type": "text",
                                                        "label": "Background Color",
                                                        "default": "#f6f6fc"
                                                    }
                                                ]
                                            },
                                            {
                                                "label": "Image Background",
                                                "value": "image",
                                                "nested": [
                                                    {
                                                        "name": "url",
                                                        "type": "text",
                                                        "label": "Image URL"
                                                    }
                                                ]
                                            },
                                            {
                                                "label": "Video Background",
                                                "value": "video",
                                                "nested": [
                                                    {
                                                        "name": "url",
                                                        "type": "text",
                                                        "label": "Video URL"
                                                    },
                                                    {
                                                        "name": "play_style",
                                                        "type": "select",
                                                        "label": "Video Play Style",
                                                        "options": [
                                                            {
                                                                "label": "Fit to Scene",
                                                                "value": "fit_to_scene"
                                                            },
                                                            {
                                                                "label": "Freeze",
                                                                "value": "freeze"
                                                            },
                                                            {
                                                                "label": "Loop",
                                                                "value": "loop"
                                                            },
                                                            {
                                                                "label": "Once",
                                                                "value": "once"
                                                            }
                                                        ]
                                                    }
                                                ]
                                            }
                                        ]
                                    }
                                ],
                                "type": "collection",
                                "label": "Background Settings"
                            }
                        ],
                        "type": "array",
                        "label": "Video Inputs"
                    },
                    {
                        "name": "title",
                        "type": "text",
                        "label": "Title of the video"
                    },
                    {
                        "name": "test",
                        "type": "boolean",
                        "label": "Test Mode"
                    },
                    {
                        "name": "caption",
                        "type": "boolean",
                        "label": "Captions"
                    },
                    {
                        "name": "callback_id",
                        "type": "text",
                        "label": "Callback ID"
                    },
                    {
                        "name": "dimension",
                        "spec": [
                            {
                                "name": "width",
                                "type": "integer",
                                "label": "Width"
                            },
                            {
                                "name": "height",
                                "type": "integer",
                                "label": "Height"
                            }
                        ],
                        "type": "collection",
                        "label": "Dimension"
                    }
                ]
            }
        },
        {
            "id": 5,
            "module": "util:FunctionSleep",
            "version": 1,
            "parameters": {},
            "mapper": {
                "duration": "300"
            },
            "metadata": {
                "designer": {
                    "x": 1200,
                    "y": 0
                },
                "restore": {},
                "expect": [
                    {
                        "name": "duration",
                        "type": "uinteger",
                        "label": "Delay",
                        "required": true,
                        "validate": {
                            "max": 300,
                            "min": 1
                        }
                    }
                ]
            }
        },
        {
            "id": 6,
            "module": "util:FunctionSleep",
            "version": 1,
            "parameters": {},
            "mapper": {
                "duration": "300"
            },
            "metadata": {
                "designer": {
                    "x": 1500,
                    "y": 0
                },
                "restore": {},
                "expect": [
                    {
                        "name": "duration",
                        "type": "uinteger",
                        "label": "Delay",
                        "required": true,
                        "validate": {
                            "max": 300,
                            "min": 1
                        }
                    }
                ]
            }
        },
        {
            "id": 7,
            "module": "util:FunctionSleep",
            "version": 1,
            "parameters": {},
            "mapper": {
                "duration": "300"
            },
            "metadata": {
                "designer": {
                    "x": 1800,
                    "y": 0
                },
                "restore": {},
                "expect": [
                    {
                        "name": "duration",
                        "type": "uinteger",
                        "label": "Delay",
                        "required": true,
                        "validate": {
                            "max": 300,
                            "min": 1
                        }
                    }
                ]
            }
        },
        {
            "id": 9,
            "module": "heygen:getVideo",
            "version": 1,
            "parameters": {
                "__IMTCONN__": 5957384
            },
            "mapper": {
                "video_id": "{{4.video_id}}"
            },
            "metadata": {
                "designer": {
                    "x": 2100,
                    "y": 0
                },
                "restore": {
                    "expect": {
                        "video_id": {
                            "mode": "edit"
                        }
                    },
                    "parameters": {
                        "__IMTCONN__": {
                            "data": {
                                "scoped": "true",
                                "connection": "hey-gen-9e1ue3"
                            },
                            "label": "My HeyGen connection"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account:hey-gen-9e1ue3",
                        "label": "Connection",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "name": "video_id",
                        "type": "select",
                        "label": "Video ID",
                        "required": true
                    }
                ]
            }
        },
        {
            "id": 10,
            "module": "http:ActionGetFile",
            "version": 3,
            "parameters": {
                "handleErrors": false
            },
            "mapper": {
                "url": "{{9.data.video_url}}",
                "method": "get",
                "serializeUrl": false,
                "shareCookies": false
            },
            "metadata": {
                "designer": {
                    "x": 2400,
                    "y": 0
                },
                "restore": {},
                "parameters": [
                    {
                        "name": "handleErrors",
                        "type": "boolean",
                        "label": "Evaluate all states as errors (except for 2xx and 3xx )",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "name": "url",
                        "type": "url",
                        "label": "URL",
                        "required": true
                    },
                    {
                        "name": "serializeUrl",
                        "type": "boolean",
                        "label": "Serialize URL",
                        "required": true
                    },
                    {
                        "name": "method",
                        "type": "hidden",
                        "label": "Method"
                    },
                    {
                        "name": "shareCookies",
                        "type": "boolean",
                        "label": "Share cookies with other HTTP modules",
                        "required": true
                    }
                ]
            }
        },
        {
            "id": 11,
            "module": "google-drive:createAFolder",
            "version": 4,
            "parameters": {
                "__IMTCONN__": 6291586
            },
            "mapper": {
                "name": "{{10.fileName}}",
                "shared": false,
                "folderId": "/1dkpvBYNPlTPBVoW8bRW5ec1TRWQqnIKO",
                "destination": "drive"
            },
            "metadata": {
                "designer": {
                    "x": 2700,
                    "y": 0
                },
                "restore": {
                    "expect": {
                        "folderId": {
                            "mode": "chose",
                            "path": [
                                "Make auto"
                            ]
                        },
                        "destination": {
                            "label": "My Drive"
                        }
                    },
                    "parameters": {
                        "__IMTCONN__": {
                            "data": {
                                "scoped": "true",
                                "connection": "google-restricted"
                            },
                            "label": "Grive conection"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account:google-restricted",
                        "label": "Connection",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "type": "hidden"
                    },
                    {
                        "name": "destination",
                        "type": "select",
                        "label": "New Drive Location",
                        "required": true,
                        "validate": {
                            "enum": [
                                "drive",
                                "share",
                                "team"
                            ]
                        }
                    },
                    {
                        "name": "folderId",
                        "type": "folder",
                        "label": "New Folder Location",
                        "required": true
                    },
                    {
                        "name": "name",
                        "type": "text",
                        "label": "New Folder's Name"
                    },
                    {
                        "name": "shared",
                        "type": "boolean",
                        "label": "Share Folder",
                        "required": true
                    }
                ]
            }
        },
        {
            "id": 12,
            "module": "google-drive:uploadAFile",
            "version": 4,
            "parameters": {
                "__IMTCONN__": 6291586
            },
            "mapper": {
                "data": "{{10.data}}",
                "select": "map",
                "convert": false,
                "filename": "{{10.fileName}}",
                "folderId": "{{11.id}}"
            },
            "metadata": {
                "designer": {
                    "x": 3000,
                    "y": 0
                },
                "restore": {
                    "expect": {
                        "select": {
                            "label": "Enter manually"
                        }
                    },
                    "parameters": {
                        "__IMTCONN__": {
                            "data": {
                                "scoped": "true",
                                "connection": "google-restricted"
                            },
                            "label": "Grive conection (georgiualex32@gmail.com)"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account:google-restricted",
                        "label": "Connection",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "type": "hidden"
                    },
                    {
                        "name": "select",
                        "type": "select",
                        "label": "Enter a Folder ID",
                        "required": true,
                        "validate": {
                            "enum": [
                                "map",
                                "value"
                            ]
                        }
                    },
                    {
                        "name": "title",
                        "type": "text",
                        "label": "New File Name"
                    },
                    {
                        "name": "filename",
                        "type": "text",
                        "label": "File Name",
                        "required": true
                    },
                    {
                        "name": "data",
                        "type": "buffer",
                        "label": "Data",
                        "required": true
                    },
                    {
                        "name": "convert",
                        "type": "boolean",
                        "label": "Convert a File",
                        "required": true
                    },
                    {
                        "name": "folderId",
                        "type": "text",
                        "label": "Folder ID",
                        "required": true
                    }
                ]
            }
        }
    ],
    "metadata": {
        "instant": false,
        "version": 1,
        "scenario": {
            "roundtrips": 1,
            "maxErrors": 3,
            "autoCommit": true,
            "autoCommitTriggerLast": true,
            "sequential": false,
            "slots": null,
            "confidential": false,
            "dataloss": false,
            "dlq": false,
            "freshVariables": false
        },
        "designer": {
            "orphans": []
        },
        "zone": "eu2.make.com",
        "notes": []
    }
}